name: CI

# This workflow will run on pushes and pull requests for the main branch.
# It will install dependencies, run linters, and run tests.

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv and dependencies
        run: |
          pip install uv
          uv install --frozen "requirements.txt"

      - name: Lint with Ruff
        run: |
          uv run ruff check .

      - name: Format with Ruff
        run: |
          uv run ruff format --check .

      - name: Test with Pytest
        run: |
          uv run pytest
